body {
    font-size: 16px;
}
/*1.NAVIGATION*/


/*1.NAVIGATION start*/

.navbar-section {
    background-color: #fced3a;
    
}

.navbar {
    .navbar-nav {
    display: inline-block;
    float: none;
}
   
    
.mynavbar {
    background-color: transparent;
    border: none;  
}
    
} 

.navbar {
    
    .navbar-collapse {
    text-align: center;
}
} 


.mynavbar .mynavbarlinks li a {
    color: black;
}

.mynavbar .navbar-collapse {
    border-color: transparent;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 992px){
    .mynavbarlinks {
        display: none;
    } 
}
